.store {
    display: flex;
    background-color: transparent;
    width: 7rem;
    height: 16rem;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
}

.storeData {
    display: flex;
    background-color: aqua;
    width: 100%;
    height: 90%;
    border-radius: 2.5rem;
    justify-content: center;
    align-items: center;
}

.firstPlayer {
    background-color: red;
}

.secondPlayer {
    background-color: darkcyan;
}
